---
import { Picture } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Heading from "../components/Heading.astro";
import DonateForm from "../components/DonateForm.astro";
import courtMovement from "../assets/images/court-movement.jpg";

const title = "Donate • Open Squash";
const seoTitle = "Donate";
const seoDescription =
	"We're on a mission to build health, wellbeing and community for people of all backgrounds, skills, and ages by making the great sport of squash accessible to everyone.";
---

<Layout {title} {seoTitle} {seoDescription}>
	<Heading as="h1" headingText="Donate" />
	<section class="border-t sm:flex h-full grow">
		<div class="sm:w-1/2 sm:border-r border-b sm:border-b-0 p-20">
			<h2 class="text-heading-sm sm:text-heading pb-20">
				Help bring squash to everyone
			</h2>
			<p>
				We're on a mission to build health, wellbeing and community for
				people of all backgrounds, skills, and ages by making the great
				sport of squash accessible to everyone. Your donation allows us
				to offer discounts on memberships, Junior Academy tuition, and
				Junior summer camps to qualifying adults and kids. Thank you for
				opening doors to squash.
			</p>
			<DonateForm />
			<p class="text-body-sm pb-5">
				Open Squash is a nonprofit organization and is tax exempt under
				501(c)(3) of the Internal Revenue Code. All donations directly
				support Open Squash and all are tax deductible. Federal Tax ID:
				45-5149499.
			</p>
			<svg
				width="110"
				height="24"
				viewBox="0 0 110 24"
				fill="currentColor"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path
					opacity="0.749"
					fill-rule="evenodd"
					clip-rule="evenodd"
					d="M103.979 24H5.52101C2.47157 24 0 21.5206 0 18.4615V5.53846C0 2.47938 2.47157 0 5.52101 0H103.979C107.028 0 109.5 2.47938 109.5 5.53846V18.4615C109.5 21.5206 107.028 24 103.979 24ZM108.58 5.53846C108.58 2.98985 106.52 0.923077 103.979 0.923077H5.52101C2.98042 0.923077 0.920168 2.98985 0.920168 5.53846V18.4615C0.920168 21.0102 2.98042 23.0769 5.52101 23.0769H103.979C106.52 23.0769 108.58 21.0102 108.58 18.4615V5.53846Z"
				></path>
				<path
					fill-rule="evenodd"
					clip-rule="evenodd"
					d="M56.0213 16.9241H54.8191L55.7496 14.6552L53.8979 10.041H55.1683L56.3318 13.1814L57.5045 10.041H58.7748L56.0213 16.9241ZM51.4061 14.9427C50.9897 14.9427 50.5623 14.7898 50.1753 14.4924V14.828H48.9345V7.94411H50.1753V10.3667C50.5623 10.0792 50.9897 9.92641 51.4061 9.92641C52.705 9.92641 53.5967 10.9599 53.5967 12.4345C53.5967 13.9083 52.705 14.9427 51.4061 14.9427ZM51.1445 10.979C50.8054 10.979 50.4655 11.1227 50.1753 11.4102V13.4589C50.4655 13.7455 50.8054 13.8892 51.1445 13.8892C51.8427 13.8892 52.3273 13.2961 52.3273 12.4345C52.3273 11.573 51.8427 10.979 51.1445 10.979ZM43.9111 14.4924C43.5335 14.7898 43.1069 14.9427 42.6804 14.9427C41.3907 14.9427 40.4898 13.9083 40.4898 12.4345C40.4898 10.9599 41.3907 9.92641 42.6804 9.92641C43.1069 9.92641 43.5335 10.0792 43.9111 10.3667V7.94411H45.1621V14.828H43.9111V14.4924ZM43.9111 11.4102C43.6302 11.1227 43.2912 10.979 42.9522 10.979C42.2438 10.979 41.7592 11.573 41.7592 12.4345C41.7592 13.2961 42.2438 13.8892 42.9522 13.8892C43.2912 13.8892 43.6302 13.7455 43.9111 13.4589V11.4102ZM36.524 12.7693C36.6014 13.4971 37.1836 13.9947 37.997 13.9947C38.4438 13.9947 38.9376 13.8319 39.4415 13.5444V14.5697C38.8897 14.818 38.3369 14.9427 37.7934 14.9427C36.3296 14.9427 35.3025 13.8892 35.3025 12.3963C35.3025 10.9508 36.3103 9.92641 37.6967 9.92641C38.967 9.92641 39.8293 10.9126 39.8293 12.319C39.8293 12.4536 39.8293 12.6065 39.8099 12.7693H36.524ZM37.6488 10.8734C37.0472 10.8734 36.582 11.3147 36.524 11.9751H38.6372C38.5986 11.3238 38.2015 10.8734 37.6488 10.8734ZM33.2565 11.6303V14.828H32.0156V10.041H33.2565V10.5196C33.6056 10.1366 34.0321 9.92641 34.4485 9.92641C34.5849 9.92641 34.7203 9.93551 34.8557 9.97372V11.0654C34.7203 11.0272 34.5655 11.0081 34.42 11.0081C34.0128 11.0081 33.5761 11.2282 33.2565 11.6303ZM27.721 12.7693C27.7983 13.4971 28.3796 13.9947 29.194 13.9947C29.6398 13.9947 30.1345 13.8319 30.6384 13.5444V14.5697C30.0857 14.818 29.533 14.9427 28.9904 14.9427C27.5266 14.9427 26.4994 13.8892 26.4994 12.3963C26.4994 10.9508 27.5072 9.92641 28.8937 9.92641C30.1631 9.92641 31.0263 10.9126 31.0263 12.319C31.0263 12.4536 31.0263 12.6065 31.0069 12.7693H27.721ZM28.8448 10.8734C28.2442 10.8734 27.779 11.3147 27.721 11.9751H29.8342C29.7955 11.3238 29.3976 10.8734 28.8448 10.8734ZM23.3867 14.828L22.3973 11.573L21.4181 14.828H20.3034L18.636 10.041H19.8769L20.8561 13.2961L21.8354 10.041H22.9593L23.9385 13.2961L24.9177 10.041H26.1586L24.5014 14.828H23.3867ZM15.8043 14.9427C14.3405 14.9427 13.3032 13.8992 13.3032 12.4345C13.3032 10.9599 14.3405 9.92641 15.8043 9.92641C17.268 9.92641 18.2961 10.9599 18.2961 12.4345C18.2961 13.8992 17.268 14.9427 15.8043 14.9427ZM15.8043 10.9508C15.0774 10.9508 14.5735 11.5539 14.5735 12.4345C14.5735 13.3152 15.0774 13.9183 15.8043 13.9183C16.5219 13.9183 17.0258 13.3152 17.0258 12.4345C17.0258 11.5539 16.5219 10.9508 15.8043 10.9508ZM10.3553 12.4627H9.24067V14.828H7.9998V8.24068H10.3553C11.7132 8.24068 12.6823 9.1122 12.6823 10.3567C12.6823 11.6012 11.7132 12.4627 10.3553 12.4627ZM10.1812 9.23683H9.24067V11.4675H10.1812C10.8988 11.4675 11.4027 11.0172 11.4027 10.3567C11.4027 9.68715 10.8988 9.23683 10.1812 9.23683ZM102.465 12.934H97.3438C97.4608 14.1448 98.359 14.5014 99.3788 14.5014C100.417 14.5014 101.235 14.2849 101.948 13.9301V16.0107C101.238 16.4001 100.299 16.6803 99.049 16.6803C96.5009 16.6803 94.7156 15.1046 94.7156 11.9897C94.7156 9.35874 96.2301 7.27 98.7183 7.27C101.203 7.27 102.5 9.35783 102.5 12.0033C102.5 12.2535 102.477 12.7948 102.465 12.934ZM98.7017 9.37602C98.0476 9.37602 97.3208 9.86364 97.3208 11.0272H100.025C100.025 9.86455 99.3438 9.37602 98.7017 9.37602ZM90.4818 16.6803C89.5661 16.6803 89.0069 16.2991 88.6311 16.0271L88.6255 18.95L86.0102 19.4995L86.0093 7.44193H88.3123L88.4487 8.07966C88.8098 7.74669 89.4721 7.27 90.4974 7.27C92.3343 7.27 94.0643 8.90387 94.0643 11.9114C94.0643 15.1938 92.3527 16.6803 90.4818 16.6803ZM89.8719 9.55797C89.2722 9.55797 88.8954 9.77449 88.6228 10.0701L88.6384 13.9083C88.8927 14.1803 89.2584 14.3986 89.8719 14.3986C90.8392 14.3986 91.4877 13.3588 91.4877 11.9678C91.4877 10.6169 90.8291 9.55797 89.8719 9.55797ZM82.2287 7.44193H84.8541V16.4956H82.2287V7.44193ZM82.2287 4.55081L84.8541 3.99951V6.10372L82.2287 6.65502V4.55081ZM79.4291 10.3576V16.4956H76.8148V7.44193H79.0763L79.2403 8.2052C79.8529 7.09351 81.0753 7.31912 81.4235 7.44284V9.81724C81.091 9.7108 80.0473 9.55615 79.4291 10.3576ZM73.8227 13.3197C73.8227 14.8417 75.4735 14.3677 75.8079 14.2358V16.3382C75.4597 16.5274 74.8277 16.6803 73.9728 16.6803C72.4206 16.6803 71.2553 15.5513 71.2553 14.022L71.2673 5.73528L73.8208 5.19854L73.8227 7.44193H75.8088V9.64439H73.8227V13.3197ZM70.5625 13.76C70.5625 15.6195 69.0637 16.6803 66.8888 16.6803C65.9869 16.6803 65.0012 16.5074 64.0284 16.0944V13.6281C64.9063 14.0993 66.0247 14.4532 66.8915 14.4532C67.4747 14.4532 67.8947 14.2986 67.8947 13.821C67.8947 12.5883 63.9188 13.0522 63.9188 10.193C63.9188 8.3644 65.3329 7.27 67.4544 7.27C68.3212 7.27 69.1872 7.401 70.054 7.74215V10.1757C69.2581 9.75083 68.2476 9.51066 67.4525 9.51066C66.9044 9.51066 66.5636 9.66714 66.5636 10.0701C66.5636 11.2328 70.5625 10.6797 70.5625 13.76Z"
				></path>
			</svg>
		</div>
		<div class="relative sm:w-1/2 flex flex-col">
			<Picture
				src={courtMovement}
				alt="A squash court with players doing a court movement drill"
				widths={[400, 800, 1200, 1600]}
				formats={["webp", "avif"]}
				fallbackFormat="jpg"
				pictureAttributes={{
					class: "sm:absolute sm:inset-0 w-full h-full",
				}}
				class="w-full h-full object-cover object-right"
			/>
		</div>
	</section>
</Layout>
