---
import Layout from "../layouts/Layout.astro";
const title = "title";
const seoTitle = "seoTitle";
const seoDescription = "seoDescription";
---

<Layout {title} {seoTitle} {seoDescription}>
	<h1>{title}</h1>
	<p>
		Aliqua ex ad in mollit ipsum magna ea aliquip minim velit. Id eiusmod
		laborum magna nostrud dolore et nulla est sint labore aute incididunt
		anim culpa. Qui tempor eu enim duis aliqua commodo deserunt. Incididunt
		laborum laboris irure. Officia quis exercitation ipsum.
	</p>
	<p class="font-mono">
		Voluptate commodo pariatur et consequat pariatur amet incididunt qui non
		id non labore. Mollit laboris occaecat dolore exercitation nisi mollit.
		Sint amet ullamco minim. Nisi voluptate enim irure fugiat velit veniam
		in magna ipsum nisi. Ut aliquip aliquip dolore eu ex et duis mollit
		adipisicing pariatur dolor ipsum est. Occaecat in pariatur ad ex officia
		sint quis aute voluptate laboris aliquip.
	</p>
</Layout>
