---
import Layout from "../layouts/Layout.astro";
const title = "title";
const seoTitle = "seoTitle";
const seoDescription = "seoDescription";
---

<Layout {title} {seoTitle} {seoDescription}>
	<h1>{title}</h1>
</Layout>
