---
import Layout from "../layouts/Layout.astro";
import Heading from "../components/Heading.astro";

const title = "Membership Terms • Open Squash";
const seoTitle = "Membership Terms";
---

<Layout {title} {seoTitle}>
	<Heading as="h1" headingText="Membership Terms" />
	<section class="px-20 space-y-40 py-80 border-t">
		<div class="w-full lg:w-1/2 max-w-[65ch] mx-auto rich-text">
			<p>Core Membership Terms and Financial Obligations</p><p>
				1.1. The Open Squash (the “Center”) is a non-profit club
				operated by The Squash Center, Inc. that is dedicated to making
				squash more accessible to the general public. The Center does
				not charge any membership initiation fees and relies on annual
				membership commitments for its financial stability.
				Consequently, membership is an annual contract that renews
				automatically, unless terminated on a timely basis.
			</p><p>
				1.2. Any member may terminate (or downgrade) his or her
				membership without penalty by written notice to the contact
				email designated on the Center’s website at least 30 days in
				advance of the member’s annual anniversary date, with a subject
				line: TIMELY TERMINATION/DOWNGRADE OF MEMBERSHIP. Early
				termination is not permitted, except in the sole discretion of
				the Center and only in limited situations, such as geographic
				relocation or financial hardship (i.e., loss of employment).
				Members are free to upgrade their memberships at any time.
			</p><p>
				1.3. In its discretion, the Center may offer shorter-term
				memberships for certain limited situations (for example,
				one-week passes for out-of-town visitors). These shorter-term
				memberships will be priced higher (on a pro rata basis) than the
				standard annual membership. All the rules of membership in these
				Terms and Conditions will apply to any shorter-term memberships.
			</p><p>
				1.4. Memberships are individual; the Center does not have family
				memberships at this time. That said, the Center does provide a
				discount on the second and subsequent individual memberships
				from the same family provided the second and subsequent family
				members share the same address and same valid/working credit
				card. (Note that any reference in these Terms to a credit or
				debit card apply equally to a direct debit arrangement through
				ACH to the extent the Center’s payment systems permit it.) The
				size of the discount is specified on the Center’s website.
			</p><p>
				1.5. There are three tiers of membership available: (1)
				“Unlimited,” (2) “Pay to Play,” and (3) “Off-Peak” (together,
				“Pay to Play” and “Off-Peak” are referred to as
				“Non-Unlimited”). Each membership tier carries with it distinct
				privileges at the Center, which are described in these Terms and
				Conditions and on the Center’s website. 1.6. At all times, each
				and every player on the Center’s courts, regardless of age, must
				be either a member in good-standing of the Center, an Authorized
				Guest (as defined below), or an Authorized Pro (as defined
				below).
			</p><p>
				1.7. The Center operates on a cashless basis and thus it is a
				condition of ongoing membership (and of remaining in
				good-standing) to have a valid/working credit or debit card in
				the Center’s system at all times.
			</p><p>
				1.8. The Center charges all monthly fees in advance, pro rating
				any monthly charges for the first month. The Center processes
				one-time charges (such as court fees, guest fees, cancellation
				fees, or items purchased at the café or pro shop) immediately as
				they are incurred. If the member’s credit card or debit card on
				file in the system fails to put through a charge for any reason
				(whether the member’s fault or not), it is regarded as
				non-payment and the member will no longer be regarded as in good
				standing with access to the courts.
			</p><p>
				1.9. The schedule of membership fees (including any income- or
				age-based discounts), other monthly fees (such as for laundry
				and lockers) and one-time charges (such as for pro shop items or
				food and drink) appear on the Center’s website. All fees may
				change at any time except that any change in the monthly
				membership fee will only become effective upon each member’s
				anniversary.
			</p><p>
				1.10. The Center may terminate (or suspend) any membership at
				any time for: (1) failure to have a valid/working credit or
				debit card in the system; (2) failure to follow the rules of the
				Center as outlined here and elsewhere (including rules governing
				the booking of courts, safety, sportsmanship and the other terms
				of membership as well as the rules covering any particular
				program taking place at the Center); (3) or behaving in any
				other manner that causes harm or offense to the Center or to
				another member or Authorized Guest, in each case as determined
				by the Center in its sole discretion.
			</p><p>
				1.11. Consistent with its mission as a non-profit, the Center
				offers monthly membership discounts of various kinds, including
				income-based discounts. It is an important condition of these
				Terms and Conditions that anyone who is receiving one of these
				discounts immediately notify (no more than 30 days) the Center
				of any material positive change in the member’s economic
				circumstances such that the member may no longer be eligible for
				a discount. The Center reserves the right to seek the
				incremental membership fee amounts for the period between the
				change of circumstances and any delayed notification.
			</p>
			<p>Court Bookings, Cancellation Fees, and Walk-on Play</p><p>
				2.1. Unless otherwise specified in the court booking system, the
				Center’s courts are available for reservation in 45 minute
				increments according to the schedule set forth in the system.
			</p><p>
				2.2. The Center’s court booking system shall be open on a
				rolling basis a minimum of 1 week in advance of the date of
				play. A member may book a court without identifying the name and
				status (member or guest) of the second player, so long as the
				reservation is ultimately updated for the name and status before
				play commences.
			</p><p>
				2.3. No member may book more than one court, peak or non-peak,
				in any single 24-hour period.
			</p><p>
				2.4. The Center’s goal is to give all members with peak-time
				access a reasonable chance to play every week at peak times if
				they try to book a court in a timely manner. Accordingly, a
				member may not book more than two peak-time courts in any 7-day
				period.
			</p><p>
				2.5. Courts may not be booked for solo play during peak periods.
				During non-peak periods, courts may be reserved for solo play
				but the member playing solo must pay a full court fee not only
				for himself/herself (unless an unlimited member) but also for
				the non-existent second player.
			</p><p>
				2.6. Because court time at the Center is highly valued and
				limited, especially during peak times, members are expected to
				show up and play whenever they have booked a court in advance or
				to have canceled in a timely manner. Accordingly, we ask that
				members who are not able to show up for a booked court make
				every effort to cancel at least 24 hours before the time of
				play. If the cancellation is later than 12 hours before the time
				of play, the Center will impose a cancellation fee. The fee may
				be greater for peak-period cancellations. The amount of such
				fees (like any other fees) appear on the Center’s website.
			</p><p>
				2.7. Any cancellation fee shall be assessed on a per-player
				basis. Accordingly, if a late-canceled court was booked in the
				names of two members, each member will pay his or her own
				cancellation fee. When a late-canceled court was booked by a
				member with either a guest or as yet-identified member, the
				member who booked the court will pay a double cancellation fee.
			</p><p>
				2.8. A “no show” of either player is considered a cancellation
				and the cancellation fee will be imposed on the non-showing
				player. If neither player shows, both players will pay the
				cancellation fee; if one of the no-shows is a Sponsored Guest
				(or an as-yet identified member), the inviting member must pay
				both cancellation fees. Similarly, a member who has booked a
				(non-peak) court for solo play and is a no-show is also subject
				to a double cancellation fee (albeit double the cancellation fee
				applicable to off-peak courts).
			</p><p>
				2.9. Members may apply in writing (including by email to the
				contact address on the Center’s website) for a waiver of
				cancellation fees, which waiver shall be granted solely at the
				Center’s discretion and only in rare circumstances of
				demonstrated hardship. Any request for waiver shall set out the
				full circumstances for the late cancellation or no-show.
			</p><p>
				2.10. Courts that are empty (because either no member reserved
				them or there was a single or dual no-show) may be used by
				members on a first-come, first-served basis Provided the
				members, before going on court, formally book the court in the
				booking system, which will result in being charged the
				applicable court fees. If the court booking system already shows
				a (no-show) reservation, the members should book the court
				through the Center staff. If the court in question remains open
				after the time of the (newly) booked court, members may continue
				to play without further court fees as long as they still book
				the subsequent court in the system (to maintain completeness of
				the Center’s records). The one exception to these rules is that
				if a court is open with less than [20] minutes left in the
				applicable time period, there is no need to book the court or
				pay any court fees. But in such case, if the members want to
				play into the next time period and the court remains open, then
				all of the above rules including the requirement of booking and
				payment of one set of court fees apply.
			</p>
			<p>Court Fees</p><p>
				3.1. Court fees for Non-Unlimited members are published on the
				website and assessed on a per-player basis (peak or non-peak as
				applicable).
			</p><p>
				3.2. If two Non-Unlimited members play each other, each member
				must pay a court fee.
			</p><p>
				3.3. If a Non-Unlimited Member is playing a Sponsored Guest (as
				defined below), the member pays both his or her full court fee
				and the guest fee of the Sponsored Guest (consistent with the
				member’s responsibility to cover all charges incurred by a
				Sponsored Guest, as described below).
			</p><p>
				3.4. If a Non-Unlimited Member plays an Unlimited Member, the
				Non-Unlimited Member must pay a full court fee.
			</p><p>
				3.5. If an Unlimited Member plays a Sponsored Guest, there is no
				court fee, just a guest fee as described below. (Guest fees
				include court fees.)
			</p>
			<p>
				Authorized Guests and Associated Guest Fees; Authorized Pros
			</p><p>
				4.1. There are three categories of Authorized Guests at the
				Center: (1) Sponsored Guests, (2) Non-Sponsored Guests; and (3)
				Non-Playing Guests.
			</p><p>
				4.2. The most common Authorized Guests are Sponsored Guests who
				come to the Center for recreational play at the invitation of a
				member to play pursuant to the member’s court booking.
			</p><p>
				4.2.1. Sponsored Guests are not permitted to play as walk-ons.
			</p><p>
				4.2.2. A Sponsored Guest must be checked into the system as a
				guest with a designated sponsoring member. At check-in, the
				Sponsored Guest must sign a standard liability waiver and
				agreeing to comply with these Terms and Conditions and any other
				rules and regulations of the Center.
			</p><p>
				4.2.3. Sponsored Guests must adhere to all the rules of the
				Center as outlined in these terms and conditions.
			</p><p>
				4.2.4. The sponsoring member is legally and financially
				responsible for the member’s Sponsored Guests, including any
				payment obligations or physical damage or theft (as explained
				more fully in the “Legal” section, below). All charges incurred
				by Sponsored Guests will be charged to the sponsoring member’s
				credit or debit card on file (including guest fees) and any
				reimbursement must be sought privately. The Center’s system does
				not provide for payment by Sponsored Guests.
			</p><p>
				4.2.5. As explained above, guest fees for recreational play,
				like other one-time charges, are published on the Center’s
				website and may be amended from time-to-time at the Center’s
				discretion.
			</p><p>
				4.2.6. Because the Center encourages Sponsored Guests who may
				themselves become members to play at the Center, every member
				will receive 1 free guest pass per quarter. Notwithstanding the
				Center’s desire to give potential members an opportunity to
				“try-out” the Center, the Center is also committed to (1)
				ensuring that the Center’s courts are available as much as
				possible to the dues-paying membership, especially at peak
				times; and (2) that guest play does not become a substitute for
				paying membership. Accordingly, (1) after the one free guest
				pass per quarter, regular guest fees will apply and (2) the same
				Sponsored Guest may not play at the Center (with any member)
				more than once per month.
			</p><p>
				4.3. The Center also welcomes certain Non-Sponsored Guests in
				three specific contexts: (1) organized round-robins and
				clinics/large group lessons (subject to the rules set forth
				below), (2) official league play and (3) sanctioned tournaments.
			</p><p>
				4.3.1. Prices for activities in which Non-Sponsored Guests may
				participate will be published on the Center’s website.
			</p><p>
				4.3.2. All Non-Sponsored Guests must be checked into the
				Center’s system and must sign a standard liability waiver and
				agree to comply with these Terms and Conditions and any other
				rules and regulations of the Center.
			</p><p>
				4.3.3. With respect to organized round-robins and clinics/large
				group lessons, preference is always given to members.
				Accordingly, (1) members will always have a reasonable period of
				time to sign up for a round-robin or clinic/large group lesson
				before opening it up to Non-Sponsored Guests and (2) the fee for
				Non-Sponsored Guests will always be higher than for members. The
				Center reserves the right to impose limits on the number of
				round-robins and clinics/large group lessons in which a
				non-member may participate.
			</p><p>
				4.4. Private and semi-private lessons are limited at the Center
				and are not available to guests of any kind, except that (for
				the time being) guests are permitted to take one (and only one)
				full-cost lesson as an introduction to the Center.
			</p><p>
				4.5. The Center welcomes Non-Playing Guests who have reason to
				be at the Center (for example, the non-member parent or
				caretaker of a junior member, or the friend of a member who
				wants to see how the game is played). Non-Playing Guests will be
				admitted to the Center free of charge, and will need to sign
				into the Center’s visitor system for Non-Playing Guests and
				agree to adhere to the Center’s Terms and Conditions and other
				rules, as applicable (such as proper sportsmanship and
				respectful treatment of the Center’s members and property).
			</p><p>
				4.6. The Center welcomes Authorized Pros, defined as any pro who
				has been hired by the Center directly or by the Nicol Champions
				Academy, who will be hosting its programs on the Center’s
				courts. Authorized Pros may use the courts only for the purpose
				for which they were hired (e.g., hosting a round robin).
				Authorized pros must also abide by the Center’s Terms and
				Conditions (such as proper sportsmanship and respectful
				treatment of the Center’s members and property).
			</p>
			<p>Court Safety and Behavior</p><p>
				5.1. Members (and guests) must always adhere to the rules of
				safe play, including but not limited to wearing protective eye
				gear at all times on the court.
			</p><p>
				5.2. Members (and guests) must wear non-marking shoes on the
				court.
			</p><p>
				5.3. Members (and guests) may only play during the Center’s
				formal operating hours and always respect the Center’s court
				booking system on court entitlement.
			</p><p>
				5.4. Members (and guests) must leave the court immediately when
				the allotted time slot is over. If the current game is almost
				finished (one player having 8 points or more), the players may
				finish the game at the discretion of the waiting players. 5.5.
				Members (and guests) must adhere to the rules of good
				sportsmanship.
			</p><p>5.6. No illegal activities may take place in the Center.</p>
			<p>Juniors</p><p>
				6.1. Children and teenagers – whether playing inside or outside
				the auspices of a sanctioned/formal junior program — are subject
				to all of these Terms and Conditions. Further, so long as a
				child is a legal minor (under 18), there must be a parent or
				other legal representative registered in the system who is
				legally and financially responsible for the child (and whose
				credit or debit card is in the system for membership and other
				payments).
			</p><p>
				6.2. Children and teenagers under the age of 16 must be
				accompanied at all times in the Center by a parent or a
				caregiver or other person the parent has authorized in the
				system unless the child is participating in a sanctioned Center
				junior program (in which case the adult accompaniment rules of
				that program will apply).
			</p>
			<p>Founding Members</p><p>
				7.1. Founding Members are members who have made a multi-year
				membership commitment to the Center that also includes a
				substantial donation.
			</p><p>
				7.2. In addition to all of the privileges of “Unlimited”
				membership, Founding Members have certain additional privileges,
				including
			</p><p>
				7.2.1. Founding memberships can be transferred to another
				person.
			</p><p>
				7.2.2. Where the Founding Member has been assigned to a junior,
				either of the junior’s parents or lawful guardian (but not any
				pros and not anyone else without express permission) may play
				with the junior during off-peak periods without any guest fee or
				same-guest limits.
			</p>
			<p>Legal</p><p>
				8.1. IMPORTANT: RELEASE AND WAIVER OF LIABILITY AND INDEMNITY:
				By agreeing to these Terms and Conditions each member (on behalf
				of themselves and any Sponsored Guest) hereby expressly
				acknowledges and agrees that your use of the Center’s
				facilities, services, equipment or premises involves risks of
				injury to persons and property, including those described below,
				and you assume full responsibility for such risks. In
				consideration of being permitted to enter the Center for any
				purpose including, but not limited to, observation, use of
				facilities, services or equipment, or participation in any way,
				you agree to the following:
			</p><p>
				8.1.1. You hereby release and hold the Center, its directors,
				officers, employees, agents, owners, and affiliates harmless
				from all liability to you and your personal representatives,
				assigns, heirs, and next of kin for any loss or damage, and
				forever give up any claim or demands therefore, on account of
				injury to your person or property, including injury leading to
				the death, to the fullest extent permitted by law, while you are
				on the Center’s premises or using any of the Center’s
				facilities, services or equipment.
			</p><p>
				8.1.2. You also hereby agree to indemnify the Center from any
				loss, liability, damage or cost the Center may incur due to your
				presence in, upon or about the Center or in any way observing or
				using any facilities or equipment of the Center, and for any
				loss, liability, damage or cost the Center may incur due the
				presence of your guests or their use of the Center, whether
				caused by the negligence of you or your guests or otherwise. The
				losses and costs indemnified under this paragraph shall include,
				but not be limited to, reimbursing the Center for damage to the
				Center’s courts or other property caused by you or your guest,
				and the costs and fees of any action against the Center for
				injuries arising from the actions of you or your guest.
			</p><p>
				8.1.3. You represent (a) that you are in good physical condition
				and have no disability, illness, or other condition that could
				prevent you from exercising without injury or impairment of
				health, and (b) that you have consulted a physician concerning
				an exercise program that will not risk injury to or impairment
				of your health. Such risk of injury includes (but is not limited
				to): injuries arising from your use of any of the Center’s
				facilities or equipment; injuries arising from the participation
				by you or others in supervised or unsupervised activities or
				programs at the Center; injuries and medical disorders arising
				from exercising at a the Center such as heart attacks, strokes,
				heat stress, sprains, broken bones, and torn muscles and
				ligaments, among others; and accidental injuries occurring
				anywhere in the Center’s dressing rooms, showers, and other
				facilities.
			</p><p>
				8.1.4. You further expressly agree that the foregoing release,
				waiver and indemnity agreement is intended to be as broad and
				inclusive as is permitted by the law of the State of New York
				and that if any portion thereof is held invalid, it is agreed
				that the balance shall, notwithstanding, continue in full force
				and effect.
			</p><p>
				8.1.5. You have read this release and waiver of liability and
				indemnity clause, and agree that no oral representations,
				statements or inducement apart from these Terms and Conditions
				have been made.
			</p><p>
				8.2. Use of the Center facilities constitutes ongoing acceptance
				of these Terms and Conditions.
			</p><p>
				8.3. In the event of any dispute (other than one filed in a
				court that is limited to adjudicating small claims) between you
				and the Center (including the Center’s officers, directors,
				employees, agents, owners, and affiliates), you and the Center
				agree that the dispute will be resolved exclusively by
				arbitration in New York, New York, before a single arbitrator,
				under the then current rules of the American Arbitration
				Association. In addition, you agree not to participate in a
				class action, class-wide arbitration, claims brought in a
				representative capacity, or consolidated claims involving
				another person’s account, if the Center, or any of its officers,
				directors, employees, or agents is a party to the proceeding.
			</p><p>
				8.4. These Terms and Conditions are subject to change at any
				time.
			</p>
		</div>
	</section>
</Layout>
