---
import Layout from "../layouts/Layout.astro";
import Heading from "../components/Heading.astro";

const title = "Terms of Service & Privacy Policy • Open Squash";
const seoTitle = "Terms of Service & Privacy Policy";
---

<Layout {title} {seoTitle}>
	<Heading as="h1" headingText="Terms of Service</br>& Privacy Policy" />
	<section class="px-20 space-y-40 py-80 border-t">
		<div class="w-full lg:w-1/2 max-w-[65ch] mx-auto rich-text">
			<p>
				Open Squash Website Terms of Use and Privacy Policy Our Terms of
				Use and Privacy Policy apply to each visitor (each a “User” or
				“you”) who uses, registers, or creates an account (an “Account”)
				on the websites owned by the Open Squash (“MCSC”) or The Squash
				Center (“TSC”, and together with MCSC, “we” or “us”), currently
				found at TheSquashCenter.org and OpenSquash.org, as well as any
				other associated websites for online booking or shopping that we
				own. Throughout the Terms of Use and Privacy Policy, we refer to
				these websites as, collectively, the “Platform.”
			</p><p>
				By accessing and using the Platform you agree to the
				applicability of the Terms of Use and Privacy Policy. If you do
				not agree to be bound by any part of the Terms of Use and
				Privacy Policy you should not create an Account or interact with
				the Platform.
			</p><p>
				No part of the Platform is directed to persons under the age of
				13. IF YOU ARE UNDER 13 YEARS OF AGE, DO NOT USE OR ACCESS THE
				PLATFORM.
			</p><p>
				The Terms of Use and Privacy Policy are separate from (and in
				addition to) the “Terms and Conditions” governing membership in
				MCSC and the conduct of members and their guests. Those Terms
				and Conditions are available here: Membership Terms.
			</p><p>
				The Terms of Use and Privacy Policy are divided into two
				sections: The first section, “Platform Terms of Use,” addresses
				your obligations as a User of the Platform, and your rights and
				obligations as a User of the Platform when purchasing goods or
				services using the Platform. The second section, “Platform
				Privacy Policy,” addresses how we use the personal information
				or other data you provide us when you use the Platform.
			</p><p>
				We reserve the right to update and revise our Terms of Use and
				Privacy Policy at any time. You are responsible for reviewing
				and understanding the Terms of Use and Privacy Policy in effect
				at the time you use the Platform.
			</p><p>
				Platform Terms of Use Commercial Use Prohibited. The Platform is
				for personal use only.
			</p><p>
				Platform Content Copyright/Trademark. Unless otherwise noted,
				all content included on the Platform, including any compilation
				of that content, is the property of TSC or its licensors,
				partners or affiliates and is protected by United States and
				international copyright laws. Any unauthorized use of any
				content on the Platform is strictly prohibited and may violate
				copyright and trademark laws, and/or the laws of privacy,
				publicity, and/or communications regulations and statutes. All
				trademarks, service marks, and trade names that appear on the
				Platform are proprietary to TSC or their respective owners, and
				you may not display or reproduce them in any manner without
				TSC’s prior written consent.
			</p><p>
				User Provided Content. From time to time, TSC may allow Users to
				post comments, photos, or similar materials on the Platform
				(such user-provided content, “UPC”), which TSC may decide to
				remove at any time for any reason. UPC must not harass, slander,
				malign, libel, defame, threaten, or otherwise violate any rights
				of any third-parties and must not include any profanity,
				obscene, indecent, pornographic, defamatory or unlawful
				material. Moreover, by posting UPC, you hereby grant TSC an
				unrestricted, assignable, sub-licensable, perpetual
				royalty-free, fully paid up license throughout the world to
				reproduce, distribute, or otherwise use and exploit all UPC to
				the fullest extent provided by law, for any purpose, including
				promoting and marketing TSC. Finally, you represent, warrant,
				and covenant that you either are the sole and exclusive owner of
				any UPC you post, or have all rights, licenses, consents, and
				releases that are necessary to grant TSC the rights in the UPC
				as contemplated under these Terms of Use, and that the UPC does
				not infringe, misappropriate or violate the rights of any party
				or entity, constitute or result in defamation, libel, slander,
				or the violation of any applicable law or regulation, or require
				TSC to obtain any licenses from or make any payments in any
				amounts to any third-party throughout the world.
			</p><p>
				Rights Under the DMCA. The Digital Millennium Copyright Act of
				1998 (the “DMCA”) provides recourse for copyright owners who
				believe that material appearing on the Internet infringes their
				rights under U.S. copyright law. If you believe in good faith
				that materials posted on the Site infringe your copyright, you
				(or your agent) may send us a “Notification of Claimed
				Infringement” requesting that the material be removed, or access
				to it blocked. If you believe in good faith that a notice of
				copyright infringement has been wrongly filed against you, the
				DMCA permits you to send TSC a counter-notice. Notices and
				counter-notices must meet the then-current statutory
				requirements imposed by the DMCA; see
				http://www.loc.gov/copyright/ for details. We do not represent
				or guarantee the truthfulness, accuracy, or reliability of UPC.
			</p><p>
				Prohibited Activities. Illegal activity is prohibited on the
				Platform. You must comply with all privacy, data protection,
				intellectual property, and other applicable laws. Should you
				fail to do so, not only is your activity potentially illegal, it
				is a violation of these Platform Terms of Use. For the avoidance
				of doubt, you may not:
			</p><p>
				introduce any viruses, bots Trojans, or similar programs or any
				harmful or malicious code onto the Platform; attempt to
				interfere with, harm, reverse engineer, steal from, or gain
				unauthorized access to the Platform, Accounts, or the technology
				and equipment supporting the Platform; use data mining, robots,
				or other data gathering devices on or through the Platform; post
				incomplete, false, or misleading information, impersonate
				another person, or misrepresent your affiliation with a person
				or entity; disclose personal information about another person or
				harass, abuse, or post objectionable material; sell, transfer,
				or assign any of your rights to use the Platform to a
				third-party without our express written consent; post
				advertising or marketing links or content without our express
				written consent; use the Platform in an illegal way or to commit
				an illegal act in relation to the Platform or that otherwise
				results in fines, penalties, and other liability to TSC or
				others; or access the Platform from a jurisdiction where it is
				illegal or unauthorized.
			</p><p>
				Online Commerce. Certain sections of the Platform may allow you
				to make purchases from us. If you make a purchase from us
				through the Platform, all information obtained during your
				purchase or transaction and all of the information that you give
				as part of the transaction, such as your name, address, method
				of payment, credit card number, and billing information, may be
				collected by us, our payment processing company, and any
				third-party with whom we contract for purposes of order
				processing or fulfillment.
			</p><p>
				Returns of Merchandise. Merchandise purchased through the
				Platform may be returned within thirty (30) days of the date of
				purchase for a full refund. If you wish to return merchandise
				you must send an email to Info@TheSquashCenter.org including
				your order number and the item(s) you wish to return. A return
				authorization will be emailed to you with instructions. No
				return will be accepted without a return authorization.
			</p><p>
				In addition, all returns must be in brand new resaleable
				condition. We will not accept any of the following as returns:
			</p><p>
				racquets that have been played with and/or plastic wrap removed
				from grip; custom strung racquets; footwear that has any
				indication of being used; string, grip, balls, or accessories
				for which the package has been opened; any clothing that has
				been worn or from which the tags have been removed.
			</p><p>
				Any items you attempt to return to us that do not meet our
				return policy (including your failure to obtain a return
				authorization) will be sent back to you at your expense, with
				all shipping expenses charged to your credit card.
			</p><p>
				Disclaimer of Warranties. YOU EXPRESSLY UNDERSTAND AND AGREE
				THAT, TO THE FULLEST EXTENT PERMITTED BY LAW:
			</p><p>
				(A) YOUR USE OF THE PLATFORM AND ANY PRODUCTS YOU PURCHASE
				THROUGH THE PLATFORM IS AT YOUR SOLE RISK, AND THE PLATFORM AND
				ANY PRODUCTS ARE PROVIDED ON AN “AS IS” AND “AS AVAILABLE”
				BASIS, AND WE EXPRESSLY DISCLAIM ALL WARRANTIES OF ANY KIND,
				WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO,
				WARRANTIES AS TO PRODUCTS OR SERVICES LISTED ON THE PLATFORM,
				IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
				PURPOSE, AND NON-INFRINGEMENT;
			</p><p>
				(B) WE MAKE NO WARRANTY THAT (i) THE PLATFORM WILL MEET YOUR
				REQUIREMENTS, (ii) THE PLATFORM WILL BE UNINTERRUPTED, TIMELY,
				SECURE, OR ERROR-FREE, (iii) THE RESULTS THAT MAY BE OBTAINED
				FROM THE USE OF THE PLATFORM WILL BE ACCURATE OR RELIABLE, (iv)
				THE QUALITY OF ANY GOODS OR SERVICE AVAILABLE ON THE PLATFORM
				WILL MEET YOUR EXPECTATIONS, OR (v) ANY ERRORS IN THE SITE WILL
				BE CORRECTED; AND
			</p><p>
				(C) ANY MATERIAL DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE
				PLATFORM IS ACCESSED AT YOUR OWN DISCRETION AND RISK, AND YOU
				WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER
				SYSTEM OR MOBILE DEVICE THAT RESULTS FROM THE USE OF ANY SUCH
				MATERIAL.
			</p><p>
				Limitation on Liability. YOU EXPRESSLY UNDERSTAND AND AGREE
				THAT, TO THE FULLEST EXTENT PERMITTED BY LAW, WE WILL NOT BE
				LIABLE TO YOU FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
				CONSEQUENTIAL, OR EXEMPLARY DAMAGES, INCLUDING, BUT NOT LIMITED
				TO, DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA OR OTHER
				INTANGIBLE LOSSES (EVEN IF WE HAVE BEEN ADVISED OF THE
				POSSIBILITY OF SUCH DAMAGES), RESULTING FROM: (i) THE USE OR THE
				INABILITY TO USE THE PLATFORM; (ii) THE COST OF PROCUREMENT OF
				SUBSTITUTE GOODS AND SERVICES RESULTING FROM ANY GOODS, DATA,
				INFORMATION OR SERVICES OBTAINED OR MESSAGES RECEIVED OR
				TRANSACTIONS ENTERED INTO THROUGH, FROM, OR AS A RESULT OF THE
				PLATFORM; (iii) UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR
				TRANSMISSIONS OR DATA; (iv) STATEMENTS OR CONDUCT OF ANY USER OR
				THIRD-PARTY ON THE PLATFORM; (v) YOUR RELIANCE ON CONTENT MADE
				AVAILABLE BY US; OR (vi) ANY OTHER MATTER RELATING TO THE
				PLATFORM. TO THE FULLEST EXTENT PERMITTED BY LAW, OUR MAXIMUM
				LIABILITY ARISING OUT OF OR IN CONNECTION WITH THE PLATFORM,
				REGARDLESS OF THE CAUSE OF ACTION (WHETHER IN CONTRACT, TORT,
				BREACH OF WARRANTY, OR OTHERWISE), WILL NOT EXCEED $100.
			</p><p>
				Platform Privacy Policy Types of Personal Information We
				Collect. TSC collects the following types of information about
				you (collectively, “Personal Information”):
			</p><p>
				(a) Information you provide to us: We and our third party
				service providers (“Contractors”) may collect certain
				information from or about you in connection with your use of the
				Platform, your submissions to us via the Platform, whether
				through an Account or otherwise, including, but not limited to,
				your name, e-mail address, mailing address, telephone number,
				and credit card information (including credit card number,
				expiration date, security code, billing name and billing
				address). In addition, we and our Contractors may collect the
				content of, and metadata regarding, any correspondence you may
				have with us or our representatives, regardless of the mode of
				communication by which such correspondence was made.
			</p><p>
				(b) Information collected via technology: The servers used to
				host and operate the Platform may collect certain data
				pertaining to you, including data regarding the source from
				which you are directed to the Platform, the equipment and
				communications method that you use to access the Platform, and
				your activities on the Platform. We and our Contractors may
				combine components of this data with other Personal Information
				we collect, which may identify you. Unless otherwise described
				in this Privacy Policy, such data (which is also deemed
				“Collected Information” hereunder) will be used solely for the
				purposes described below.
			</p><p>
				In addition, the information we collect may reveal such things
				as the Internet protocol address assigned to your computer,
				specific pages that you access on the Platform or prior to or
				after visiting the Platform, and the length of time you spend at
				the Platform..
			</p><p>
				Mechanisms for Collection of Personal Information. We collect
				Personal Information (i) upon a User’s creation of an Account;
				(ii) upon logging into the Platform; (iii) upon interaction on
				the Platform or use of an Account; and (iv) when you communicate
				with us. TSC uses cookies and related technologies, including
				without limitation pixels, local storage, and software
				development kits (SDKs) for mobile applications, to obtain
				certain types of Personal Information. We use cookies to
				recognize you as a User. Cookies may remain on your device until
				you erase them or they expire. You are free to decline our
				cookies if your browser or browser add-on permits, but doing so
				may interfere with your use of our Platform.
			</p><p>
				Purpose of Collection and Use of Personal Information. We
				collect and use Personal Information for a number of reasons. We
				may use it to:
			</p><p>
				administer the Platform, Accounts, and transactions with respect
				to Accounts; operate and improve the Platform; provide customer
				support; communicate with Users regarding support, security,
				technical issues, marketing, and transactions; target offers to
				Users and elevate User eligibility for offers, products, or
				services and the appropriateness of those offers, products, or
				services for Users; facilitate marketing, advertising, surveys
				by TSC or its commercial partners administer and carry out our
				obligations under contracts and to comply with the law.
			</p><p>
				Disclosure of Personal Information. We may disclose your
				Personal Information to:
			</p><p>
				TSC’s Affiliates and commercial partners, which may use the
				Personal Information for the purposes described above;
				Contractors who act for us or provide services for us, such as
				for marketing or for the processing of payments, and as to such
				Contractors their use of Personal Information is subject to our
				agreements with them and any applicable laws; any person or
				government agency in response to a subpoena; to a government
				agency in response to an investigation, regardless of whether or
				not a subpoena has been issued; to a government agency in
				response to an investigation, regardless of whether or not a
				subpoena has been issued; any person to enforce our rights or
				protect our property, to protect the rights, property or safety
				of others, or to investigate fraud; any person, at your specific
				direction; and TSC’s employees and outside professionals (such
				as lawyers and accountants) for the purpose of auditing,
				compliance, and corporate governance.
			</p><p>
				Email Policies. We reserve the right to send you email relating
				to your Account and TSC’s products or services. You agree to
				receive such emails. We also reserve the right to send you email
				concerning programs and products that may be of interest to you,
				whether offered by MCSC or its commercial partners, but you may
				opt out of such email by clicking this link and following the
				prompts. [LINK].
			</p><p>
				No Responsibility for Privacy Practices of Third Parties. These
				Terms of Use and Privacy Policy apply only to the Platform. They
				do not apply to other sites that have linked or are redirected
				to or from the Platform, regardless of whether or not such link
				or redirection is authorized by TSC. These Third Party Platforms
				may have their own policies regarding privacy, or no policy at
				all. TSC is not responsible for Third Party Platforms and you
				use them at your own risk.
			</p><p>
				No Expectation of Privacy In User-Provided Content. The Platform
				may contain areas where you are able to submit UPC. Such use is
				subject to the Platform Terms of Use, and may be viewed by the
				public at large. Any information you post on the Platform as
				UPC, including Personal Information, will be public, and,
				therefore, anyone who accesses such postings will have the
				ability to read, collect and further disseminate such
				information.
			</p><p>
				Accessing and Correcting Personal Information. You may correct
				or update certain of your Personal Information via your “My
				Account” screens on the Platform. You may close an Account, but
				TSC will nevertheless retain your Personal Information so as to
				protect the business interests of TSC, its affiliates, its
				customers, Contractors, and other Users. Those interests include
				the completion of transactions, maintaining records for
				financial reporting purposes, complying with our legal
				obligations, resolving disputes, and enforcing agreements.
			</p><p>
				Governing Law and Notice to Residents of Countries outside the
				United States of America. TSC is headquartered in New York, New
				York, in the United States of America. Personal Information may
				be accessed by us or transferred to us in the United States or
				to Contractors, TSC affiliates, or commercial partners elsewhere
				in the world. By providing us with Personal Information, you
				consent to this transfer. TSC will adhere to its Privacy Policy,
				regardless of where the Personal Information is processed or
				stored.
			</p><p>
				These Terms and Conditions and Privacy Policy shall be
				interpreted in accordance with the law of the State of New York
				and any applicable U.S. federal law, without regard to choice of
				law.
			</p><p>
				California Privacy Rights and Other Inquiries. Pursuant to
				Section 1798.83 of the California Civil Code, residents of
				California can obtain certain information about the types of
				Personal Information that companies with whom they have an
				established business relationship have shared with third parties
				for direct marketing purposes during the proceeding calendar
				year. In particular, the law provides that companies must inform
				Users about the categories of Personal Information that have
				been shared with third parties, the names and addresses of those
				third parties, and examples of the types of services or products
				marketed by those third parties.
			</p><p>
				To request a copy of the information disclosure provided by TSC
				pursuant to Section 1798.83 of the California Civil Code, or to
				make any other inquiries or offer comments about the Terms of
				Use and Privacy Policy, please contact us via email to
				Info@TheSquashCenter.org, or by writing us at 25 West 39th
				Street, 5th Floor, New York, NY 10018.
			</p>
		</div>
	</section>
</Layout>
