---
import Heading from "./Heading.astro";
import coaches from "../data/coaches";
import CoachCard from "./CoachCard.astro";
---

<section
	class="isolate border-t -mt-2"
	x-ignore
	ax-load
	x-data="coachesCarousel()"
>
	<Heading headingText="Our Top Tier Team" />
	<div class="grid grid-cols-1 lg:grid-cols-3 border-t">
		<div class="col-span-2 border-b lg:border-b-0 lg:border-r py-20">
			<div x-ref="carousel" class="swiper h-full">
				<ul class="swiper-wrapper">
					{coaches.map((coach) => <CoachCard {coach} />)}
				</ul>
			</div>
		</div>
		<div class="p-20 flex flex-col justify-between">
			<div class="space-y-20 pb-40">
				<h2 class="text-heading-sm">Up your game with our coaches</h2>
				<p>
					We’ve built the best team in squash to bring the game to
					everyone. We’ve brought the most talented and supportive
					coaches from all over the world. They combine world-class
					training and skills with welcoming, patient and encouraging
					teaching styles. They’re focused on helping you improve.
				</p>
			</div>
			<div class="flex -space-x-2 text-label">
				<button
					@click="prev()"
					class="bg-white hover:bg-black hover:text-white transition-colors border-black border rounded-l px-10 py-5"
					>Prev</button
				>
				<button
					@click="next()"
					class="bg-white hover:bg-black hover:text-white transition-colors border-black border rounded-r px-10 py-5"
					>Next</button
				>
			</div>
		</div>
	</div>
</section>
