---
import { Picture } from "astro:assets";
import contactImage from "../assets/images/contact.jpg";
import SocialLinks from "./SocialLinks.astro";
---

<section class="border-t sm:flex h-full grow">
	<div
		class="sm:w-1/2 sm:border-r border-b sm:border-b-0 p-20"
		x-data="form"
		x-cloak
	>
		<h2 class="text-heading-xs sm:text-heading-sm pb-20">Ask A Question</h2>
		<p class="pb-20 max-w-[25ch]">
			Fill out the form and expect an email, phone call, or text within 24
			hours.
		</p>
		<div x-show="success">
			<p class="pb-20">
				Hi <span x-text="name"></span>, thankyou for your question we
				will get back to you with an answer asap.
			</p>
			<button
				@click="success = false"
				class="inline-block text-black hover:text-yellow hover:bg-black transition-colors bg-yellow border-black border rounded-lg px-20 py-10 font-bold"
				>Ask Another Question</button
			>
		</div>
		<div x-show="!success">
			<form
				data-netlify="true"
				name="contact"
				method="POST"
				x-validate
				class="form"
			>
				<input
					type="hidden"
					name="subject"
					:value="`Question from ${firstName} ${secondName}`"
				/>
				<input type="hidden" name="oid" value="00D0b000000CDCM" />
				<fieldset>
					<label for="first_name">First Name</label>
					<input
						type="text"
						name="first_name"
						maxlength="40"
						x-model="firstName"
						placeholder="Jahangir"
						data-error-msg="a first name is required"
						x-validate.required
					/>
				</fieldset>
				<fieldset>
					<label for="last_name">Second Name</label>
					<input
						type="text"
						name="last_name"
						maxlength="80"
						x-model="secondName"
						placeholder="Khan"
						data-error-msg="a second name is required"
						x-validate.required
					/>
				</fieldset>
				<fieldset>
					<label for="email">Email</label>
					<input
						type="email"
						name="email"
						maxlength="80"
						placeholder="goat@squashmaster.com"
						data-error-msg="an email is required"
						x-validate.required
						x-validate.email
					/>
				</fieldset>
				<fieldset>
					<label for="phone">Phone Number</label>
					<input
						type="tel"
						name="phone"
						maxlength="40"
						placeholder="576 731-6777"
					/>
				</fieldset>
				<fieldset>
					<label for="00N5a00000DVUMH">Location</label>
					<select
						id="00N5a00000DVUMH"
						name="00N5a00000DVUMH"
						x-validate.required
						data-error-msg="you must pick a location"
					>
						<option value="" disabled selected
							>Choose Location</option
						>
						<option value="Bryant Park">Bryant Park</option>
						<option value="FiDi">FiDi</option>
						<option value="Both">Both</option>
					</select>
				</fieldset>
				<fieldset>
					<label for="lead_source">Subject</label>
					<select
						name="lead_source"
						x-validate.required
						data-error-msg="you must pick a subject"
					>
						<option value="" disabled selected
							>Choose Subject</option
						>
						<option value="Membership Inquiries"
							>Membership Inquiries</option
						>
						<option value="Schedule a Tour">Schedule a Tour</option>
						<option value="Private Lessons">Private Lessons</option>
						<option value="Complimentary Intro to Squash Class"
							>Complimentary Intro to Squash Class</option
						>
						<option value="Junior Programming"
							>Junior Programming</option
						>
						<option value="Summer Camp Inquiries"
							>Summer Camp Inquiries</option
						>
						<option value="Financial Aid">Financial Aid</option>
						<option value="Corporate Partnerships"
							>Corporate Partnerships</option
						>
						<option value="Other">Other</option>
					</select>
				</fieldset>
				<fieldset>
					<label for="description">Message</label>
					<textarea
						name="description"
						rows="4"
						placeholder="Can you teach this old dog some new tricks?"
						x-validate.required
						data-error-msg="a message is required"></textarea>
				</fieldset>
				<button
					id="formSubmit"
					type="submit"
					class="flex items-center disabled:opacity-50 disabled:pointer-events-none text-black hover:text-yellow hover:bg-black transition-colors bg-yellow border-black border rounded-lg px-20 py-10 font-bold"
					x-on:click.prevent="submitForm()"
					x-on:submit.prevent="submitForm()"
					x-bind:disabled="!$validate.isComplete($root.querySelector('form'))"
				>
					Submit
					<svg
						class="w-rem ml-10"
						xmlns="http://www.w3.org/2000/svg"
						stroke="currentColor"
						viewBox="0 0 18 16"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="M1.5 7.69995h15m0 0L9.75.949951M16.5 7.69995 9.75 14.45"
						></path>
					</svg>
				</button>
			</form>
		</div>
	</div>
	<div class="sm:w-1/2 flex flex-col">
		<div class="p-20">
			<h2 class="text-heading-xs sm:text-heading-sm pb-20">
				Want to chat now?
			</h2>
			<p>
				Give us a call at: <a
					href="tel:914-315-4070"
					class="hover:text-black/50 transition-colors"
					>(914) 315-4070.</a
				>
			</p>
		</div>
		<div class="border-t p-20">
			<h2 class="text-heading-xs sm:text-heading-sm pb-20">Follow us</h2>
			<SocialLinks inverse="true" />
		</div>
		<div class="border-t relative h-full sm:min-h-[300px]">
			<Picture
				src={contactImage}
				alt="a drill on a squash court at Open Squash"
				widths={[400, 800, 1200, 1600]}
				formats={["webp", "avif"]}
				fallbackFormat="jpg"
				pictureAttributes={{
					class: "sm:absolute sm:inset-0 w-full h-full",
				}}
				class="w-full h-full object-cover lg:object-[0,-100px]"
			/>
		</div>
	</div>
</section>
