---
import Icon from "../assets/svgs/Icon.astro";
---

<footer class="px-10 sm:px-20">
	<nav
		class="bg-black text-white p-20 grid gap-20 grid-cols-1 sm:grid-cols-12"
	>
		<div class="row-start-1 sm:hidden">
			<a
				href="/"
				class="text-white hover:text-green transition-colors inline-block"
			>
				<Icon classes="w-60 h-60" />
			</a>
		</div>
		<div class="sm:col-span-6 lg:col-span-3 space-y-20 sm:space-y-40">
			<a
				href="/"
				class="text-white hover:text-green transition-colors sm:inline-block hidden"
			>
				<Icon classes="w-60 h-60" />
			</a>
			<p>
				We are a 501(c)(3) nonprofit organization on a mission: to make
				the game of squash accessible to everyone.
			</p>
			<ul class="-m-10 flex flex-wrap">
				<li class="m-10">
					<a
						href="https://www.instagram.com/weareopensquash/"
						target="_blank"
						class="text-black hover:bg-green transition-colors bg-white h-40 w-40 flex items-center justify-center rounded-full"
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="currentColor"
							class="h-20"
							viewBox="0 0 20 21"
						>
							<path
								d="M9.67465 5.20526c-2.74477 0-4.9587 2.28941-4.9587 5.12774 0 2.8383 2.21393 5.1278 4.9587 5.1278 2.74475 0 4.95875-2.2895 4.95875-5.1278 0-2.83833-2.214-5.12774-4.95875-5.12774Zm0 8.46144c-1.77374 0-3.22381-1.495-3.22381-3.3337 0-1.83866 1.44575-3.3337 3.22381-3.3337 1.77805 0 3.22385 1.49504 3.22385 3.3337 0 1.8387-1.4501 3.3337-3.22385 3.3337Zm6.31815-8.67119c0 .66496-.5179 1.19603-1.1566 1.19603-.643 0-1.1566-.53554-1.1566-1.19603 0-.66049.5179-1.19603 1.1566-1.19603s1.1566.53554 1.1566 1.19603Zm3.2842 1.21388c-.0734-1.60214-.4272-3.02131-1.5623-4.19056C16.584.849576 15.2117.483627 13.6623.403297c-1.5968-.093719-6.38285-.093719-7.97964 0-1.54501.075867-2.9174.441816-4.05242 1.611063C.495223 3.18362.145654 4.60278.0679718 6.20493c-.0906291 1.65123-.0906291 6.60047 0 8.25167.0733662 1.6022.4272512 3.0213 1.5622682 4.1906 1.13502 1.1692 2.50309 1.5352 4.05242 1.6155 1.59679.0937 6.38284.0937 7.97964 0 1.5494-.0758 2.9217-.4418 4.0524-1.6155 1.1307-1.1693 1.4846-2.5884 1.5623-4.1906.0906-1.6512.0906-6.59598 0-8.24721ZM17.2141 16.2284c-.3366.8747-.9883 1.5485-1.8385 1.9011-1.2731.5222-4.294.4017-5.70095.4017-1.40691 0-4.43219.116-5.701-.4017-.84587-.3481-1.49754-1.022-1.83847-1.9011-.50494-1.3166-.38841-4.4405-.38841-5.8954 0-1.45486-.11221-4.58328.38841-5.89534.33662-.87471.98828-1.54859 1.83847-1.90115 1.27312-.52215 4.29409-.40165 5.701-.40165 1.40695 0 4.43215-.11603 5.70095.40165.8459.3481 1.4976 1.02198 1.8385 1.90115.505 1.31652.3884 4.44048.3884 5.89534 0 1.4549.1166 4.5833-.3884 5.8954Z"
							></path>
						</svg>
					</a>
				</li>
				<li class="m-10">
					<a
						href="https://www.facebook.com/WeAreOpenSquash"
						target="_blank"
						class="text-black hover:bg-green transition-colors bg-white h-40 w-40 flex items-center justify-center rounded-full"
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="currentColor"
							class="h-20"
							viewBox="0 0 11 21"
						>
							<path
								d="m9.95566 11.583.55244-3.61952H7.05385V5.61465c0-.99024.48254-1.95547 2.0296-1.95547h1.57035V.577539S9.22875.333008 7.86623.333008c-2.84469 0-4.70412 1.733592-4.70412 4.871872v2.7586H0V11.583h3.16211v8.75h3.89174v-8.75h2.90181Z"
							></path>
						</svg>
					</a>
				</li>
				<li class="m-10">
					<a
						href="https://twitter.com/WeAreOpenSquash"
						target="_blank"
						class="text-black hover:bg-green transition-colors bg-white h-40 w-40 flex items-center justify-center rounded-full"
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="currentColor"
							class="w-20"
							viewBox="0 0 20 17"
						>
							<path
								d="M17.9442 4.38123c.0127.17766.0127.35535.0127.53301 0 5.41876-4.1243 11.66246-11.66246 11.66246-2.32235 0-4.47971-.6726-6.29444-1.8401.329962.0381.64719.0508.989848.0508 1.916222 0 3.680212-.6472 5.088852-1.7513-1.80204-.0381-3.3122-1.2183-3.83252-2.8427.25383.0381.50762.0635.77414.0635.36801 0 .73606-.0508 1.07868-.1396C2.22083 9.73656.812152 8.08683.812152 6.09444V6.0437c.545668.30457 1.180238.49492 1.852778.52027C1.56087 5.82791.837542 4.57158.837542 3.15025c0-.76141.203008-1.45938.558358-2.06853 2.01779 2.48732 5.0508 4.11166 8.4518 4.28936-.06344-.30458-.10153-.6218-.10153-.93907 0-2.25892 1.82743-4.099002 4.09903-4.099002 1.1802 0 2.2462.494924 2.9949 1.294422.9264-.17766 1.8147-.52032 2.6015-.989851-.3046.951801-.9518 1.751301-1.802 2.258881.8249-.08879 1.6244-.31727 2.3604-.6345-.5583.81215-1.2563 1.53548-2.0558 2.11927Z"
							></path>
						</svg>
					</a>
				</li>
			</ul>
			<ul>
				<li>
					<a href="" class="hover:text-green transition-colors"
						>Terms of Service & Privacy Policy</a
					>
				</li>
				<li>
					<a href="" class="hover:text-green transition-colors"
						>Membership Terms</a
					>
				</li>
			</ul>
		</div>
		<div class="row-start-2 sm:row-start-auto sm:col-span-2 sm:col-start-7">
			<h3 class="sm:pt-100 font-heading">Open Squash</h3>
			<ul>
				<li>
					<a href="/about" class="hover:text-green transition-colors"
						>About</a
					>
				</li>
				<li>
					<a
						href="/summer-programs"
						class="hover:text-green transition-colors"
						>Summer Squash Camp</a
					>
				</li>
				<li>
					<a href="/donate" class="hover:text-green transition-colors"
						>Donate</a
					>
				</li>
				<li>
					<a
						href="/contact-us"
						class="hover:text-green transition-colors">Contact</a
					>
				</li>
			</ul>
		</div>
		<div class="row-start-3 sm:row-start-auto sm:col-span-2 sm:col-start-9">
			<h3 class="sm:pt-100 font-heading">Bryant Park</h3>
			<ul>
				<li>
					<a
						href="https://bryantpark.opensquash.org/programs?facility_id=645&category=&search=&view=grid"
						class="hover:text-green transition-colors">Schedule</a
					>
				</li>
				<li>
					<a
						href="https://bryantpark.opensquash.org/f/opensquashbryantpark/memberships"
						class="hover:text-green transition-colors"
						>Become A Member</a
					>
				</li>
			</ul>
			<h3 class="font-heading pt-20">FiFi</h3>
			<ul>
				<li>
					<a
						href="https://fidi.opensquash.org/programs?facility_id=646&category=&search=&view=grid"
						class="hover:text-green transition-colors">Schedule</a
					>
				</li>
				<li>
					<a
						href="https://fidi.opensquash.org/f/opensquashfidi/memberships"
						class="hover:text-green transition-colors"
						>Become A Member</a
					>
				</li>
			</ul>
		</div>
		<div
			class="row-start-4 sm:row-start-auto sm:col-span-2 sm:col-start-11"
		>
			<h3 class="sm:pt-100 font-heading">Members</h3>
			<ul>
				<li>
					<a href="" class="hover:text-green transition-colors"
						>Login</a
					>
				</li>
				<li>
					<a href="" class="hover:text-green transition-colors"
						>Download App</a
					>
				</li>
			</ul>
		</div>
	</nav>
</footer>
