---
interface Props {
	as?: "h1" | "h2";
	headingText: string;
	description?: string;
}
const { as: Element = "h2", headingText, description } = Astro.props as Props;
---

<div class="py-80 px-20 text-center space-y-20">
	<Element
		class="tw-balance text-heading-sm sm:text-heading"
		set:html={headingText}
	/>
	{
		description && (
			<p
				class="tw-balance w-full sm:w-1/2 mx-auto"
				set:html={description}
			/>
		)
	}
</div>
