---
import Heading from "../components/Heading.astro";
import Alert from "../assets/svgs/Alert.astro";
import Marker from "../components/Marker.astro";
import LocationCard from "./LocationCard.astro";

import bryandPark from "../assets/images/bryant-park.jpg";
import fidi from "../assets/images/fidi.jpg";

const bryantParkImage = {
	file: bryandPark,
	alt: "Image of players at the Open Squash Bryant Park location",
};

const fidiImage = {
	file: fidi,
	alt: "Image of players at the Open Squash FiDi location",
};
---

<section x-ignore ax-load="visible" x-data="locationsMap()" class="isolate">
	<Heading headingText="Find your place to play" />
	<div class="grid grid-cols-1 lg:grid-cols-3 border-t">
		<div class="p-20 border-b lg:hidden">
			<div aria-hidden class="text-heading-sm">
				We have two beautiful centers in the ❤️ of NYC.
			</div>
		</div>
		<div
			class="row-start-3 lg:row-start-auto flex flex-col justify-between p-20 border-t lg:border-t-0 lg:border-r"
		>
			<h2 class="text-heading-sm hidden lg:block pb-40">
				We have two beautiful centers in the ❤️ of NYC.
			</h2>
			<div x-cloak>
				<div
					x-show="!activeItem"
					class="border border-red rounded p-20 flex text-red space-x-20 font-bold tw-balance"
				>
					<Alert classes="w-35 h-35 shrink-0" />
					<p>Click a location on the map to find out more</p>
				</div>
				<LocationCard
					id="bp"
					theme="greenBlue"
					title="Bryant Park"
					address="25 West 39th Street 5th Floor, New York NY 10018"
					facalities="5 Courts | Fitness Facility | Personalized Coaching"
					image={bryantParkImage}
					link="https://bryantpark.opensquash.org/"
				/>
				<LocationCard
					id="fi"
					theme="blueGreen"
					title="FiDi"
					address="100 Pearl Street 14th Floor, New York NY 10004"
					facalities="8 Courts | Fitness Facility | Cafe"
					image={fidiImage}
					link="https://fidi.opensquash.org/"
				/>
			</div>
		</div>
		<div
			class="col-span-2 min-h-[calc(100vw-1.25rem)] sm:min-h-[calc(100vw-2.5rem)] lg:min-h-[600px] relative"
		>
			<div x-ref="map" class="w-full h-full"></div>
			<div class="absolute top-20 left-20 flex -space-x-2 text-label">
				<button
					@click="toggleActiveItem('bp', [-73.98386457258847, 40.75260308346485])"
					class="border rounded-l px-10 py-5 transition-colors hover:bg-green hover:text-blue hover:z-20"
					:class={`activeItem == 'bp' ? 'bg-green text-blue relative z-10' : 'bg-white text-black'`}
					>Bryant Park</button
				>
				<button
					@click="toggleActiveItem('fi', [-74.00968775150918, 40.704367965085936])"
					class="border rounded-r px-10 py-5 transition-colors hover:bg-blue hover:text-green hover:z-20"
					:class="activeItem == 'fi' ? 'bg-blue text-green relative z-10' : 'bg-white text-black'"
					>FiDi</button
				>
			</div>
			<div
				class="absolute bottom-20 left-20 flex -space-x-2 text-label z-50"
			>
				<button
					@click="zoomOut()"
					class="bg-white hover:bg-black hover:text-white transition-colors border-black border rounded-l px-10 py-5"
					>-</button
				>
				<button
					@click="zoomIn()"
					class="bg-white hover:bg-black hover:text-white transition-colors border-black border rounded-r px-10 py-5"
					>+</button
				>
			</div>
		</div>
	</div>
	<!-- Markers -->
	<div class="hidden">
		<Marker
			id="fi"
			latlng="-74.00968775150918, 40.704367965085936"
			theme="blueGreen"
		/>
		<Marker
			id="bp"
			latlng="-73.98386457258847, 40.75260308346485"
			theme="greenBlue"
		/>
	</div>
</section>
