---
import Heading from "../components/Heading.astro";
import Alert from "../assets/svgs/Alert.astro";
import Marker from "../components/Marker.astro";
import LocationCard from "./LocationCard.astro";

import bryandPark from "../assets/images/bryant-park.jpg";
import fidi from "../assets/images/fidi.jpg";

const bryantParkImage = {
	file: bryandPark,
	alt: "Image of players at the Open Squash Bryant Park location",
};

const fidiImage = {
	file: fidi,
	alt: "Image of players at the Open Squash FiDi location",
};
---

<section x-ignore ax-load="visible" x-data="locationsMap()">
	<Heading headingText="Find your place to play" />
	<div class="grid grid-cols-3 divide-x-2 border-t">
		<div class="flex flex-col justify-between space-y-40 p-20">
			<h2 class="text-heading-sm">
				We have two beautiful centers in the ❤️ of NYC.
			</h2>
			<div x-cloak>
				<div
					x-show="!activeItem"
					class="border border-red rounded p-20 flex text-red space-x-20 font-bold tw-balance"
				>
					<Alert classes="w-35 h-35 shrink-0" />
					<p>Click a location on the map to find out more</p>
				</div>
				<LocationCard
					id="1"
					theme="greenBlue"
					title="Bryant Park"
					address="25 West 39th Street 5th Floor, New York NY 10018"
					facalities="5 Courts | Fitness Facility | Personalized Coaching"
					image={bryantParkImage}
					link="#"
				/>
				<LocationCard
					id="2"
					theme="blueGreen"
					title="FiDi"
					address="100 Pearl Street 14th Floor, New York NY 10004"
					facalities="8 Courts | Fitness Facility | Cafe"
					image={fidiImage}
					link="#"
				/>
			</div>
		</div>
		<div class="col-span-2 min-h-[600px]">
			<div x-ref="map" class="w-full h-full"></div>
		</div>
	</div>
	<!-- Markers -->
	<div class="hidden">
		<Marker
			id="1"
			latlng="-74.00968775150918, 40.704367965085936"
			theme="greenBlue"
		/>
		<Marker
			id="2"
			latlng="-73.98386457258847, 40.75260308346485"
			theme="blueGreen"
		/>
	</div>
</section>
